# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases

# next.js
/.next/
/out/

# production
/build
/dist

# SQLite Data & Wal files
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/*.sqlite
data/*.sqlite-journal

# environment variables
.env
.env*.local

# debug & typescript
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

.env
.env.*

